img {
    width: 700px;
    height: 500px;
}

body {
    background-color: #000;
    color: #fff;
}
.cardsssss {
    color:red;
}
.jumbotron {
    background-color:blue;
    color:orange;
}
button {
    background-color: red;
    color:white; 
}
.carousel-control-next {
    background-color: red;
}
.carousel-control-prev {
    background-color: red;
}