img {
    width: 700px;
    height: 500px;
}

body {
    background-color: #fff;
    color: #000;
}
.cardsssss {
    color:red;
}
.jumbotron {
    background-color:#000;
    color:#fff;
}
button {
    background-color: black;
    color:white; 
}
.carousel-control-next-icon {
    background-color: #f00;
}
.carousel-control-prev-icon {
    background-color: red;
}