.jumbotron {
    color:black;
    background-image: url(images3/football.png);
}
img {
    width:1000px;
}
#other-jumbo {
    background-image: url(https://media.comicbook.com/2017/08/amazon-sale-1015149.jpg);
    color:white;
}