img {
    width: 700px;
    height: 500px;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Amatic SC', cursive;
}
.cardsssss {
    color:red;
}
.jumbotron {
    background-color:#000;
    color:#fff;
}
button {
    background-color:#444;
    color: red;
}
.carousel-control-next-icon {
    background-color: #f00;
}
.carousel-control-prev-icon {
    background-color: red;
}
.navbar {
    background-color:#444;
}
#nv {
    color:red;
}