.jumbotron {
    background-image: url(https://media.treehugger.com/assets/images/2016/07/green-forest-trees.jpg.860x0_q70_crop-scale.jpg);
    color:white;
}
button {
    background-color: black;
    color: white;
}